<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>

<body>
    <div style="color: rgb(0, 51, 192); margin: 0 auto; text-align: center;">
        <h1>We are sorry.</h1>
        <h1>The account specified is not registered with us</h1>
    </div>
    <br>
    <div style="text-align: center;">
        <h3>Please try to login again ensuring that the account you are using<br>
            is the one that your school has registered with us.</h3>
    </div>
    <div style="text-align: center;">
        <a href="/login">Click here</a> to return to the login page.
    </div>

    <div style="text-align: center; ">
        <img src="/image/eror.jpg" width="40%">
    </div>

</body>

</html>