<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIGN UP</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <link rel="stylesheet" href="/css-login.css" type="text/css">
</head>

<body>
  <form action="/user/register" method="post">
    <div class="login">
      <div class="avatar">
        <i class="fa fa-user"></i>
      </div>
      <h2>SIGN UP</h2>
      <div class="box-login">
        <i class="fas fa-envelope-open-text"></i>
        <input type="text" placeholder="Nama" name="name">
      </div>
      <div class="box-login">
        <i class="fas fa-lock"></i>
        <input type="password" placeholder="Password" name="password">
      </div>

      <div class="box-login">
        <i class="fas fa-envelope-open-text"></i>
        <input type="text" placeholder="Email" name="email">
      </div>
      <div class="box-login">
        <i class="fas fa-envelope-open-text"></i>
        <input type="text" placeholder="lokasi" name="lokasi">
      </div>
      <input type="submit" value="register" class="btn-login">
      <div class="bottom">
        <a href="/login"> Sudah punya akun?<br> Login disini!</a>
      </div>
    </div>
  </form>








  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</body>

</html>